name: Build and publish release

# cron format:
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of the week (0 - 6)
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ │
#'* * * * *'
# Build on Mondays at 01:30 UTC
on:
  schedule:
    - cron: '30 1 * * MON'
  workflow_dispatch:

env:
  QT_VERSION: '5.15.2' # quotes required or YAML parser will interpret as float

jobs:

  release-data:
    runs-on: ubuntu-22.04
    outputs:
      upload_url: ${{ steps.release-data.outputs.upload_url }}

    # The tag name is vYYYY-MM-DD.hhmm to create simple, easy-to-read "rolling release" versioning
    steps:
      - name: create name and tag
        id: create-name-and-tag
        run: |
          version_date_time="$(date +v%F.%H%M)"
          echo "TAG_NAME=$version_date_time" >> $GITHUB_ENV
          echo "RELEASE_NAME=$version_date_time" >> $GITHUB_ENV

      - name: create release data
        # output is 'upload_url'
        id: release-data
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name:  ${{ env.TAG_NAME }}
          release_name: ${{ env.RELEASE_NAME }}
          body: Build auto weekly release - Published full release
          # create published
          draft: false
          # create a full release, not a pre-release
          prerelease: false

  linux:
    runs-on: ubuntu-22.04
    needs: release-data
    env:
      UPLOAD_URL: "${{ needs.release-data.outputs.upload_url }}"

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: update version
        run: |
          ./scripts/version.sh $(date +%Y.%-m.%-d.%-H%M)
          
      - name: install build dependencies
        run: |  
          # ---------------------------------
          echo "-- install build dependencies --"
          sudo apt update
          sudo apt install -y libfuse2 build-essential git qt5-qmake qtbase5-dev libqt5xmlpatterns5-dev libqt5svg5-dev qttools5-dev-tools

      - name: build Seamly2D appimage
        # uses parameters from appimage-builder-recipe-jammy.yml to build appimage
        # Seamly2D-continuous-x86_64.AppImage
        run: |
          # ---------------------------------
          echo "-- get appimage-builder --"
          sudo wget -q https://github.com/AppImageCrafters/appimage-builder/releases/download/v1.1.0/appimage-builder-1.1.0-x86_64.AppImage -O /usr/local/bin/appimage-builder
          sudo chmod +x /usr/local/bin/appimage-builder
          
          # ---------------------------------
          echo "-- run appimage-builder with appimage-builder-recipe-jammy.yml --"
          appimage-builder --recipe dist/appimage-builder-recipe-jammy.yml --log INFO --skip-test

      - name: copy to final file name Seamly2D-x86_64.AppImage
        run: |
          mv Seamly2D-continuous-x86_64.AppImage Seamly2D-x86_64.AppImage

      - name: upload file as release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ env.UPLOAD_URL }}
          asset_path: ./Seamly2D-x86_64.AppImage
          asset_name: Seamly2D-x86_64.AppImage
          asset_content_type: application/octet-stream

  macos:
    runs-on: macos-latest
    needs: release-data
    env:
      UPLOAD_URL: "${{ needs.release-data.outputs.upload_url }}"

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: update version
        run: |
          ./scripts/version.sh $(date +%Y.%-m.%-d.%-H%M)

      - name: install qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ env.QT_VERSION }}
          cache: true

      - name: make Seamly2D for macos
        run: |
          qmake Seamly2D.pro CONFIG+=noDebugSymbols
          make -j$(sysctl -n hw.logicalcpu)

      - name: upload Seamly2D-macos.zip as pre-release to Github Releases
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ env.UPLOAD_URL }}
          asset_path: ./out/Seamly2D-macos.zip
          asset_name: Seamly2D-macos.zip
          asset_content_type: application/zip

  windows:
    runs-on: windows-latest
    needs: release-data
    env:
      UPLOAD_URL: "${{ needs.release-data.outputs.upload_url }}"

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: update version
        shell: bash
        run: |
          ./scripts/version.sh $(date +%Y.%-m.%-d.%-H%M)

      - name: install msvc
        uses: ilammy/msvc-dev-cmd@v1
        with:
          # use Visual C++ 2022 latest, 14.34.xxxx
          toolset: '14.34'

      - name: install qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ env.QT_VERSION }}
          cache: true

      - name: make seamly2d.exe and seamlyme.exe
        run: |
          qmake.exe Seamly2D.pro -config release CONFIG+=noDebugSymbols CONFIG+=noTests
          nmake

      - name: create seamly2d-installer.exe
        # copy seamly2d and seamlyme directory trees prepared by windeployqt and create installer
        # uses parameters in seamly2d-installer.nsi to create the installer exe
        run: |
          mkdir ..\windows-build
          Copy-Item -Path 'src\app\seamly2d\bin\*' -Destination ..\windows-build -Recurse
          Copy-Item -Path 'src\app\seamlyme\bin\*' -Destination ..\windows-build -Recurse -Force
          Copy-Item -Path dist\seamly2d-installer.nsi -Destination ..\windows-build
          cd ..\windows-build\
          & 'C:\Program Files (x86)\NSIS\makensis.exe' seamly2d-installer.nsi

      - name: pack installer file into .zip
        run: |
          cd ..\windows-build\
          C:\"Program Files"\7-Zip\7z.exe a Seamly2D-windows.zip Seamly2D-installer.exe

      - name: upload unsigned Seamly2D-windows.zip as release to Github Releases
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ env.UPLOAD_URL }}
          asset_path: ../windows-build/Seamly2D-windows.zip
          asset_name: Seamly2D-windows.zip
          asset_content_type: application/zip
